<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
</head>
<body>
{% extends "index.html" %}

{% block content %}

<h1>Cadastro de Produtos</h1>
<form action="" method="POST">
    <p>
        {{form.produto.label}} <br>
        {{form.produto(size=20)}}
    </p>
    <p>
        {{form.quantidade.label}} <br>
        {{form.quantidade(size=20)}}
    </p>
    <p>
        {{form.preco.label}} <br>
        {{form.preco(size=20)}}
    </p>
    <p>{{form.submit()}}</p>

</form>


{% endblock %}   
</body>
</html>