<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
</head>
<body>

    <h1>Adicionar Produto</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.codigoprod.label }}<br>
            {{ form.codigoprod(size=15) }}
        </p>
        <p>
            {{ form.produto.label }}<br>
            {{ form.produto(size=20) }}
        </p>
        <p>
            {{ form.categoria.label }}<br>
            {{ form.categoria(size=20) }}
        </p>
        <p>
            {{ form.quantidade.label }}<br>
            {{ form.quantidade(size=15) }}
        </p> <br>
        <p>{{ form.submit() }}</p>
    </form>



</body>
</html>

