<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa de Estoque</title>
</head>
<body>

    <h1>Pesquisa de Produtos</h1>
    <form action="" method="get">
        <label for="pesquisa_codigo">Pesquisar por nome do produto: </label>
        <input type="text" name="pesquisa">
        <label for="buscar">Buscar</label>
        <input type="submit" value="Search">
    </form>

    <table class="resultado_pesquisa">
        <thead>
            <tr>
                <th>Código</th> <th>Produto</th>
            </tr>
        </thead>
        <tbody>
           <!--- resultados da pesquisa serão exibidos aqui, a implementar --->
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.codigo }}</td>
            <td>{{ produto.nome }}</td>
        </tr>
      
        {% endfor %} 
        </tbody>
        
    </table>

</body>
</html>