<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venda</title>
</head>
<body>

    <h1>Registrar Venda</h1>
    <form action="" method="post">
        <p>
            {{form.codigo.label}} <br>
            {{form.codigo(size=15)}}
        </p>
        <p>
            {{form.codigoprod.label}} <br>
            {{form.codigoprod(size=15)}} 
        </p>
        <p>
            {{form.produto.label}} <br>
            {{form.produto(size=20)}}
        </p>
        <p>
            {{form.qtd.label}} <br>
            {{form.qtd(size=15)}}
        </p>
        <br>
        <p>{{form.submit()}}</p>

    </form>

    
</body>
</html>